<html>
  <body>
    <a href = 'items/new'>New Item</a>
    <ul>
      <li>Item 1 - <a href = 'items/1'>Show Item</a></li>
      <li>Item 2 - <a href = 'items/2'>Show Item</a></li>
      <li>Item 3 - <a href = 'items/3'>Show Item</a></li>
    </ul>
  </body>

</html>