<html>
  <form action ="/items" method ="post">
    <div>
      <label>Item Name:</label>
      <input type ="text" name="item_name" />
    </div>
      <div class = "button">
      <button type ="submit">Create</button>
    </div>
  </form>
</html>
